.search_bar {
  justify-content: center;
}
  
.weather_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
    
}

#search_input {
  border-radius: 1.5rem;
  height: 2.5rem;
  margin-top: 0.1rem;
  border: 1px solid whitesmoke;
  outline: none;
  text-align: center;
  font-size: 1rem;
  font: "Roboto", sans-serif;
}

#search_input:focus {
  box-shadow: 2px 2px 2px 2px #38b5fd;
}

#location, #cloud_info{
  font-size: 1.25rem;
  padding: .2rem;
}

.weather_text{
  font-size: 1.25rem;
}

#static_img{
  height: 50px;
  width: 65px;
}

.chat_content {
  display: flex;
  position: relative;
  border-radius: .45rem;
  background: rgb(236, 235, 235);
  border: 2px solid rgb(180, 179, 179);
  margin-bottom: 0rem;
  width:max-content;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  justify-content: left;
  padding: .25rem;
  max-width: fit-content;
}

#chatbox_div{
  padding-top: 0.8rem;
  background: rgb(255, 255, 255);
  min-height: 60vh;
  border-radius: .45rem;
  max-height: 10rem;
  overflow: scroll;
  text-align:left;
}

#gif_button_icon {
  max-width: fit-content;
  min-width: fit-content;
}

#gif_button_box {
display: flex;
justify-content:center;
flex-direction: column;
width: 10%;
max-width: fit-content;
padding-top: 0.35rem!important;
padding-left: 0.22rem!important;
padding-right: 0.15rem!important;
padding-bottom: 0.0rem!important;
align-content:center;
align-items: center;
}

.btn-danger {
  --bs-btn-bg: green;
}

#gif_icon_box {
padding: 0rem;
max-width: fit-content;
padding: 3px;
font-weight:600;
}

#emoji_icon_box {
  padding: 0rem;
  max-width: fit-content;
  padding: 3px;
  font-weight:600;
}

#gif_popover_content {
  display: flex;
  position: relative;
  justify-content: left;
  overflow: scroll;
  height: fit-content;
  max-height: 100px;
  max-width: 300px;
}

.gif_stickers {
  display: flex;
  border: 1px solid black;
  margin: 1px;
  max-height: 50%;
  max-width: 50%;
}

#emoji_popover_content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: fit-content;
}

.emoji_stickers {
  margin: 3px;
  height: max-content;
  width: min-content;
  font-size:1.65rem;
}
#header{
  padding-top: 1.5vh;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: .2em;
  right: .5em;
  font-size: 2em;
}

@media screen and (max-width: 450px) {
  .overlay a {font-size: 1em}
  .overlay .closebtn {
      top: .2em;
      right: .5em;
      font-size: 1em;
  }
}