body {
    background-color: bisque;
}
.btns_to_click {
    background-color: yellow;
}
#btns_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
form {
    display: flex;
    justify-content: center;

}
#search_term {
    display: flex;
    justify-content: center;
}
.reset_button {
    display: flex;
}
#card_container {

    display: table;
    height: 100%;
    width: 100%;
    max-width: auto;
    margin-top: 50px;
}
.stickers {

    border: 2px solid red;
    margin: 2px;
    height: 150px;
    width: 150px;
}
